<div class="post-sidebar" data-hook="post-sidebar">

  <h3><%= t('.recent_posts') %></h3>  
  <%= render 'spree/blogs/shared/archive', :posts => @archive_posts %>
  
  <p class="more"><%= link_to t('.view_archive'), archive_posts_path(@blog) %></p>
  
  <div class="post-categories" data-hook="post-categories">
    <h3><%= t('.categories') %></h3>
    <ul>
      <% @post_categories.each do |category| %>
        <li><%= link_to category.name, post_category_path(@blog, category.permalink) %></li>
      <% end %>
    </ul>
  </div>
  
  <div class="tag-cloud" data-hook="post-tag-cloud">
    <h3><%= t('.tags') %></h3>
    <ul class="tags">
      <% tag_cloud @tags, %w(neat cool rad awesome) do |tag, css_class| %>
        <li><%= link_to tag.name, search_posts_path(@blog, tag.name), :class => css_class %></li>
      <% end %>
    </ul>
  </div>
  
</div>
