<div class="posts">
  <% if @posts.blank? %>
    <h1><%= t('blog.no_posts') %></h1>
  <% else %>
    <%= render :partial => 'blog/shared/preview', :collection => @posts, :as => :post %>
  <% end %>
  <br class="clear"/>

  <%= link_to(image_tag('blog/rss.png', :alt => t('.rss')) + t('.rss'), posts_path(:format => 'rss'), :id => "posts-rss") %>
  <%= paginate @posts %>

</div>  

<% content_for :sidebar do %>
  <%= render :partial => 'blog/shared/sidebar' %>
<% end %>
