<h1>Archive</h1>

<div class="archive" style="width: auto;">
  
  <%= render 'blog/shared/archive', :posts => @posts %>
  
  <h4><%= t('.where_to_next') %></h4>  
  <p class="action">
    <%= link_to t('.go_to_store'), products_path %> <%= t('or') %>
    <%= link_to t('.back_to_posts'), posts_path %>
  </p>
  
</div>
