<h3><%= t('.new_blog') %></h3>

<% if @blog.try(:errors).present? %>
  <%= render 'spree/shared/error_messages', :target => @blog %>
<% end %>

<%= form_for([:admin, @blog]) do |f| %>
  <%= render "form", :form => f %>
  <p class="form-buttons">
    <%= button t("create") %> <%= t('or') %> <%= link_to t('cancel'), collection_url %>
  </p>
<% end %>

<%= render "spree/blogs/admin/shared/select_configuration_tab" unless request.xhr? %>
