<%= render :partial => 'admin/shared/configuration_menu' %>

<h1><%= t("blog.settings.disqus") %></h1>

<ul class="member-list">
  <% @preferences.each do |key| %>
    <li>
      <b><%= t("blog.settings.#{key}") %>:</b>
      <h3><%= @config.preferences[key].inspect %></h3>
    </li>
  <% end %>
</ul>

<p><%= link_to_with_icon 'edit', t("edit"), edit_admin_disqus_settings_path, :id => 'admin_disqus_settings_link' %></p>
