<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t("spree.blogs.settings.disqus") %></h1>

<dl class="member-list">
  <% @preferences.each do |key, value| %>
  <dt><%= t("spree.blogs.settings.#{key}") %>:</dt>
  <dd><%= @config[key] %></dd>
  <% end %>
</dl>

<p><%= link_to_with_icon 'edit', t("edit"), edit_admin_disqus_settings_path, :id => 'admin_disqus_settings_link' %></p>

<%= render "spree/blogs/admin/shared/select_configuration_tab" unless request.xhr? %>
