<%= render :partial => 'spree/blogs/admin/shared/post_tabs', :locals => {:current => "Post Details"} %>
<p>posted in <%= link_to @post.blog.name, edit_admin_blog_path(@post.blog) %></p>
<h4><%= h(l @post.posted_at, :format => :detailed).gsub(/\s0/, ' ') %></h4>
<br/>

<% for image in @post.images do %>
  <%= image_tag image.attachment.url(:small), :alt => @post.title %>
<% end %>

<%= RDiscount.new(@post.body).to_html.html_safe %>

<br class="clear" />

<p>
  <%= link_to_edit @post %> &nbsp;
  <%= link_to t('back'), collection_url %>
</p>
