<div class="posts" data-hook="posts-index">
  <% if @posts.blank? %>
    <h1><%= t('spree.blogs.no_posts') %></h1>
  <% else %>
    <%= render :partial => 'spree/blogs/shared/preview', :collection => @posts, :as => :post %>
  <% end %>
  <br class="clear"/>

  <%= link_to blog_posts_path(@blog, :format => 'rss'), :id => "posts-rss" do %>
    <%= image_tag 'blog/rss.png', :alt => t('spree.blogs.posts.index.rss') %>
    <%= t('spree.blogs.posts.index.rss') %>
  <% end %>
  <%= paginate @posts %>

</div>  

<% content_for :sidebar do %>
  <%= render :partial => 'spree/blogs/shared/sidebar' %>
<% end %>
