<%= render :partial => 'spree/blogs/admin/shared/post_tabs', :locals => {:current => "Categories"} %>

<h3><%= t(".edit_category") %></h3>

<% if @post_category.try(:errors).present? %>
  <%= render 'spree/shared/error_messages', :target => @post_category %>
<% end %>

<%= form_for([:admin, @post, @post_category], :url => admin_post_category_path(@post, @post_category.id)) do |form| %>
  <%= render "form", :form => form %>
  <p class="form-buttons">
    <%= hidden_field_tag :post_id, @post.path, :class => 'hidden' %>
    <%= button t("update") %>
  </p>
<% end %>
