<%= render :partial => 'spree/blogs/admin/shared/post_tabs', :locals => {:current => "Categories"} unless request.xhr? %>

<h3><%= t("new_category") %></h3>

<% if @post_category.try(:errors).present? %>
  <%= render 'spree/shared/error_messages', :target => @post_category %>
<% end %>

<%= form_for(@post_category, :url => admin_post_categories_path(@post)) do |form| %>
  <%= render "form", :form => form %>
  <p class="form-buttons">
    <%= button t("create") %>
  </p>
<% end %>
